torch~=2.6
torchvision~=0.21
requests>=2.31.0
numpy~=1.23.5
matplotlib~=3.10.0
ipython~=8.30.0
transformers~=4.46.1
pandas~=2.0.3
datasets~=3.1.0
pillow~=9.5.0
torchsummary>=1.5.1
torchinfo>=1.5.2
torchdata==0.9.0
opencv-contrib-python
pytest~=8.3.4
bertviz~=1.4.0
huggingface_hub~=0.24.6
scikit-learn~=1.5.2
spacy~=3.8.4
torchtext~=0.16
torchstat~=0.0.7
timm~=1.0.15